/*CSS for the author book profile page*/
.infoTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.infoSections {
  display: flex;
  justify-content: space-evenly;
  margin: 2rem 0;
}

img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
  object-fit: cover;
}
[data-tab-content] {
  display: none;
  opacity: 0;
}

.active[data-tab-content] {
  display: block;
  opacity: 1;
}

.tab {
  cursor: pointer;
  color: #b3b3b3;
  transition: color 0.2s ease;
  margin-bottom: 1rem;
}

.tab.active {
  color: #0070f3;
}

.tab:hover {
  color: #000;
}

.content {
  min-height: 50vh;
}
.descriptionInfo {
  display: flex;
  flex-direction: column;
}

.statisticsInfo {
  display: flex;
  flex-direction: column;
}

.bookList {
  display: flex;
  flex-direction: column;
}


.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

button {
  border: none;
  background-color: #0070f3;
  min-width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff !important;
  text-decoration: none !important;
  border-radius: 4px;
  transition: all 0.2s ease;
  margin-bottom: 20px;
}

button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.apply {
  padding: 10px 15px;
}

.leftSide {
  display: flex;
  align-items: center;
}

.rightSide {
  display: flex;
  flex-direction: column;
}

.addOrRemove { 
  padding: 10px 15px;
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  /*margin: auto;*/
}

.card {
  line-height: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  padding: 25px;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.cardImage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*Placement of the Page numbers */
.bottom_Section ul { 
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Inter", sans-serif;
}

img {
  height: 100px;
  width: 100px;
  margin-right: 10px;
  object-fit: cover;
}
a {
  text-decoration: none;
  color: #000;
}
a:hover {
  color: #0070f3;
}
input {
  margin-bottom: 3rem;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing: border-box;
  font-size: 24px;
  padding: 3px;
  border: 2px solid #eee;
  border-radius: 4px;
}

@media only screen and (max-width: 768px) {
  .cardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 25rem;
  }
  .card {
    margin: 5px auto;
    min-width: 25rem;
  }
}

