<!DOCTYPE html>
<html>
    <head>
        <title>Adminstrator Books</title>
	    <link rel="stylesheet" href="../static/css/global.css" />
	    <link rel="stylesheet" href="../static/css/administratorBooks.css" />
	    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    </head>
     <!--- Student Header HTML Code --->
     <nav>
        <div>
            <h2>ADMINISTRATOR</h2>
        </div>
            <ul>
                <li>
                    <a href="/administratorHome.html">
                    <div>HOME</div>
                    </a>
                </li>
                <li>
                    <a href="/administratorBooks.html">
                    <div>BOOKS</div>
                    </a>
                </li>
                <li>
                    <a href="/administratorProfile.html">
                    <div>SETTINGS</div>
                    </a>
                </li>
                <li>
                    <a href="/index.html">
                    <div>LOGOUT</div>
                    </a>
                </li>
            </ul>
    </nav>
    <body>
        <section>
            <!-- Top Rated Page with Search Bar with JavaScript -->
            <h4>Top Rated Books</h4>
        </section>
        <section>
            <div class = "layoutCriteria">
                <form class = "searchCriteria"  method="POST" enctype="multipart/form-data">
                    <div class="sectionChoice">
                        <div class ="sectionTitle">Grade</div>
                        <div class="choices">
                            <div class="select">
                                <select type="text" name="gradeyear" id="gradeyear">
                                  <option value="">Grade Year</option>
                                  <option value="Freshmen">Freshmen</option>
                                  <option value="Sophomore">Sophomore</option>
                                  <option value="Junior">Junior</option>
                                  <option value="Senior">Senior</option>
                                </select>
                            </div> 
                        </div>
                    </div>
                    <div class = "criteriaButton">
                        <button type="submit" class="submit" name="submit">Submit</button>
                    </div>
                </form>
                <div class='cardContainer generic'>
                    {% for item in Data %}
                    <a class='cardLink generic' href='/administratorBookProfile.html/{{item.book_id}}'>
                        <div class='card'>
                            <div class='cardImage'>
                                <div id = 'information' class = 'middle_part'>
                                        <img src= 'data:{{ item.image.mimetype }};base64,{{ item.image.image.decode() }}' alt='Book Cover' />
                                </div>
                            </div>
                            <div class='cardInfo'>
                                <h1>{{item.book_name}}</h1>
                                <h3>{{item.author_name}}</h3>
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </section>
        <!-- Shows the Page Numbers -->
	    <div id="pagination-container-generic" class = 'bottom_Section'></div> 
    </body>
</html>