<!DOCTYPE html>
<html>
    <head>
        <title>Adminstrator Books</title>
	    <link rel="stylesheet" href="../css/global.css" />
	    <link rel="stylesheet" href="../css/administratorBooks.css" />
	    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
	    <script src='https://cdnjs.cloudflare.com/ajax/libs/simplePagination.js/1.6/jquery.simplePagination.js'></script>
        <script src="../js/paginationAndJobSearch.js" defer></script><!-- defer used to run after the page loads -->
    </head>
     <!--- Student Header HTML Code --->
     <nav>
        <div>
            <h2>ADMINISTRATOR</h2>
        </div>
            <ul>
                <li>
                    <a href="administratorHome.html">
                    <div>HOME</div>
                    </a>
                </li>
                <li>
                    <a href="administratorBooks.html">
                    <div>BOOKS</div>
                    </a>
                </li>
                <li>
                    <a href="administratorProfile.html">
                    <div>SETTINGS</div>
                    </a>
                </li>
                <li>
                    <a href="index.html">
                    <div>LOGOUT</div>
                    </a>
                </li>
            </ul>
    </nav>
    <body>
        <section>
            <!-- Top Rated Page with Search Bar with JavaScript -->
            <h4>Top Rated Books</h4>
            <!-- refereshPage() the mySearch function runs based on the specific events-->
            <input type="search" id="generic" name="search" onsearch="mySearchGeneric()" onblur="refreshPageGeneric()" placeholder="Search Books" />
        </section>
        <section>
            <div class = "layoutCriteria">
                <form class = "searchCriteria">
                    <div class="sectionChoice">
                        <div class ="sectionTitle">Grade</div>
                        <div class="choices">
                            <div class="select">
                                <input type="checkbox" id="Freshmen" name="Freshmen" value="Freshmen">
                                <label for="Freshmen">Freshmen</label>
                            </div>
                            <div class="select">
                                <input type="checkbox" id="Sophomore" name="Sophomore" value="Sophomore">
                                <label for="Sophomore">Sophomore</label>
                            </div>
                            <div class="select">
                                <input type="checkbox" id="Junior" name="Junior" value="Junior">
                                <label for="Junior">Junior</label>
                            </div>
                            <div class="select">
                                <input type="checkbox" id="Senior" name="Senior" value="Senior">
                                <label for="Senior">Senior</label>
                            </div>
                        </div>
                    </div>
                    
                    <div class = "criteriaButton">
                        <button type="submit" form="searchCriteria" name="submit">Submit</button>
                    </div>
                </form>
                <div class='cardContainer generic'>
                    
                    <a class='cardLink generic' href='administratorBookProfile.html'>
                        <div class='card'>
                            <div class='cardImage'>
                                <div id = 'information' class = 'middle_part'>
                                        <img src= '../img/sample.jpg' alt='Book Cover' />
                                </div>
                            </div>
                            <div class='cardInfo'>
                                <h1>Book Name</h1>
                                <h3>Author Name</h3>
                            </div>
                        </div>
                    </a>

                    <a class='cardLink generic' href='administratorBookProfile.html'>
                        <div class='card'>
                            <div class='cardImage'>
                                <div id = 'information' class = 'middle_part'>
                                        <img src= '../img/sample.jpg' alt='Book Cover' />
                                </div>
                            </div>
                            <div class='cardInfo'>
                                <h1>Book Name</h1>
                                <h3>Author Name</h3>
                            </div>
                        </div>
                    </a>

                    <a class='cardLink generic' href='administratorBookProfile.html'>
                        <div class='card'>
                            <div class='cardImage'>
                                <div id = 'information' class = 'middle_part'>
                                        <img src= '../img/sample.jpg' alt='Book Cover' />
                                </div>
                            </div>
                            <div class='cardInfo'>
                                <h1>Book Name</h1>
                                <h3>Author Name</h3>
                            </div>
                        </div>
                    </a>

                    <a class='cardLink generic' href='administratorBookProfile.html'>
                        <div class='card'>
                            <div class='cardImage'>
                                <div id = 'information' class = 'middle_part'>
                                        <img src= '../img/sample.jpg' alt='Book Cover' />
                                </div>
                            </div>
                            <div class='cardInfo'>
                                <h1>Book Name</h1>
                                <h3>Author Name</h3>
                            </div>
                        </div>
                    </a>

                       

                </div>
            </div>
        </section>
        <!-- Shows the Page Numbers -->
	    <div id="pagination-container-generic" class = 'bottom_Section'></div> 
    </body>
</html>