<!DOCTYPE html>
<html>
    <head>
        <title>Administrator Course</title>
        <link rel="stylesheet" href="../static/css/global.css" />
        <link rel="stylesheet" href="../static/css/administratorCourse.css" />
        <script src="../js/myTabs.js" defer></script>
    </head>
    <!---  Header HTML Code --->
    <nav>
        <div>
            <h2>ADMINISTRATOR</h2>
        </div>
            <ul>
                <li>
                    <a href="/administratorHome.html">
                    <div>HOME</div>
                    </a>
                </li>
                <li>
                    <a href="/administratorBooks.html">
                    <div>BOOKS</div>
                    </a>
                </li>
                <li>
                    <a href="/administratorProfile.html">
                    <div>SETTINGS</div>
                    </a>
                </li>
                <li>
                    <a href="/index.html">
                    <div>LOGOUT</div>
                    </a>
                </li>
            </ul>
    </nav>
    <body>
        {% for item in Data %}
        <section>
            <!-- Student Title Section -->
            <div class="infoTitle">
                <div class="leftSide">
                    <!-- Job Image and Job Title on the Left Side -->
                    <img src="data:{{ item.image.mimetype }};base64,{{ item.image.image.decode() }}" class="Company Logo" />
                    <div class="titles">
                        <h1 style="margin-top: 0;">{{ item.course_name }}</h1>
                        <div>
                            <h4 style="margin: 0;">{{ item.prof_name }}</h4>
                            <h4 style="margin: 0;">{{ item.course_semester }} {{ item.course_year }}</h4>
                        </div>
                    </div>
                </div>
                <div>
                    <a href='/administratorCourseEdit.html/{{ item.course_id }}'><button type="submit" name="edit" class="edit">Edit</button></a> <!-- Applied Button on the Right Side -->
                    <a href="/deleteCourse/{{ item.course_id }}"><button type="submit" name="delete" class="delete">Delete</button></a>
                </div>
            </div>
            <!-- Student Header Section -->
            <div class="infoSections">
                <a data-tab-target="#DESCRIPTION" class="active tab">DESCRIPTION</a>
                <a data-tab-target="#BOOKS" class="tab">BOOKS</a>
                <a data-tab-target="#STATISTICS" class="tab">STATISTICS</a>
            </div>
            <div>
                <div class="content">
                    <!-- Description Information -->
                    <div id="DESCRIPTION" data-tab-content class="active">
                        <div class="descriptionInfo">
                            <h3>Description</h3>
                            <p>
                                {{ item.course_summary }}</br>
                            </p>
                        </div>
                    </div>
                    <!-- Books Section -->
                    <div id="BOOKS" data-tab-content>
                        <div class="bookList">
                            <h3>Books</h3>
                            <div class="cardContainer accepted">
                                
                                <a class='cardLink generic' href='administratorBookProfile.html'>
                                    <div class='card'>
                                        <div class='cardImage'>
                                            <div id = 'information' class = 'middle_part'>
                                                    <img src= '../img/sample.jpg' alt='Book Cover' />
                                            </div>
                                        </div>
                                        <div class='cardInfo'>
                                            <h1>Book Name</h1>
                                            <h3>Author Name</h3>
                                        </div>
                                    </div>
                                </a>

                                <a class='cardLink generic' href='administratorBookProfile.html'>
                                    <div class='card'>
                                        <div class='cardImage'>
                                            <div id = 'information' class = 'middle_part'>
                                                    <img src= '../img/sample.jpg' alt='Book Cover' />
                                            </div>
                                        </div>
                                        <div class='cardInfo'>
                                            <h1>Book Name</h1>
                                            <h3>Author Name</h3>
                                        </div>
                                    </div>
                                </a>


                            </div>
                        </div>
                    </div>

                    <!-- Course Section -->
                    <div id="STATISTICS" data-tab-content>
                        <div class="statisticsInfo">
                            <h3>Statistics</h3>
                            <p>
                                stats</br>
                                More stats Name
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        {% endfor %}
      </body>
</html>