<!DOCTYPE html>
<html>
    <head>
        <title>Administrator Course Creation</title>
        <link rel="stylesheet" href="../static/css/global.css" />
        <link rel="stylesheet" href="../static/css/administratorCourseCreation.css" />
    </head>
    <!--- Administrator Header HTML Code --->
  <nav>
    <div>
        <h2>ADMINISTRATOR</h2>
    </div>
        <ul>
            <li>
                <a href="/administratorHome.html">
                <div>HOME</div>
                </a>
            </li>
            <li>
                <a href="/administratorBooks.html">
                <div>BOOKS</div>
                </a>
            </li>
            <li>
                <a href="/administratorProfile.html">
                <div>SETTINGS</div>
                </a>
            </li>
            <li>
                <a href="/index.html">
                <div>LOGOUT</div>
                </a>
            </li>
        </ul>
</nav>
    <body>
        <section>
            <h2>Course</h2>
            <form name="myForm" action="" onsubmit="return validateForm()" method="POST" enctype="multipart/form-data">
            <div class="sectionOne">
                <!-- Course Name -->
                <input id="name" type="text" name="name" placeholder="Name" value="{{ Course.name }}" />
                <!-- Course Summary -->
				<textarea rows="4" cols="50" id="summary"  type="text" name="summary" placeholder="Summary" value="{{ Course.summary }}"></textarea>
                <!-- subject -->
                <input id="subject" type="text" name="subject" placeholder="Subject" value="{{ Course.subject }}" />
                <!-- Professor -->
                
                <div class="select">
                    <select type="text" name="professor" id="professor">
                        <option selected="selected", value="{{ Selected_prof.prof_id }}">{{ Selected_prof.first_name }} {{ Selected_prof.last_name }}</option>
                         {% for item in Professor %}
                         <option value="{{ item.prof_id }}">{{ item.first_name }} {{ item.last_name }} <!--- {{ item.prof_id }}---></option>
                         {% endfor %}
                     </select>
                 </div>
                 
                <!-- Semester -->
                <div class="select">
                   <select type="text" name="semester" id="semester">
                    <option selected="selected">{{ Course.semester }}</option>
                        <option value="Fall">Fall</option>
                        <option value="Spring">Spring</option>
                        <option value="Summer">Summer</option>
                    </select>
                </div>
                <!-- Year -->
                <div class="select">
                    <select type="text" name="year" id="year">
                        <option selected="selected">{{ Course.year }}</option>
                         <option value="2019">2019</option>
                         <option value="2020">2020</option>
                         <option value="2021">2021</option>
                     </select>
                 </div> 
            </div>
            <div class="sectionThree">
                <button type="submit" name="submit" class="submit">Submit</button>
              </div>
            </form>
          </section>
      </body>
</html>