<!DOCTYPE html>
<html>

<head>
    <title>Book Profile</title>
    <link rel="stylesheet" href="../static/css/global.css" />
    <link rel="stylesheet" href="../static/css/authorBookProfile.css" />
    <script src="../js/myTabs.js" defer></script>
</head>
<!--- Author Header HTML Code --->
<nav>
    <div>
        <h2>AUTHOR</h2>
    </div>
    <ul>
        <li>
            <a href="/authorHome.html">
                <div>HOME</div>
            </a>
        </li>
        <li>
            <a href="/authorProfile.html">
                <div>SETTINGS</div>
            </a>
        </li>
        <li>
            <a href="/index.html">
                <div>LOGOUT</div>
            </a>
        </li>
    </ul>
</nav>

<body>
    {% for item in Data %}
    <section>
        <!-- Title Section -->
        <div class="Title">
            <div class="leftSide">
                <!-- Image and Title on the Left Side -->
                <img src="data:{{ item.image.mimetype }};base64,{{ item.image.image.decode() }}" class="Book Logo" />
                <div class="titles">
                    <h1 style="margin-top: 0;">{{ item.title }}</h1>
                    <div>
                        <h4 style="margin: 0;">{{ item.published_year }}</h4>
                        <h4 style="margin: 0;">{{ item.genre }}</h4>
                    </div>
                </div>
            </div>
            <div>
                <a href='/authorBookEdit.html/{{ item.book_id }}'><button type="submit" name="edit" class="edit">Edit</button></a>
                <!-- Applied Button on the Right Side -->
                <button type="submit" name="delete" class="delete">Delete</button>
                <!-- Applied Button on the Right Side -->
            </div>
        </div>
        <!-- Header Section -->
        <div class="Sections">
            <a data-tab-target="#DESCRIPTION" class="active tab">DESCRIPTION</a>
            <rating>ADD STAR RATING HERE</rating>
        </div>
        <div>
            <div class="content">
                <!-- DESCRIPTION -->
                <div id="DESCRIPTION" data-tab-content class="active">
                    <div class="descriptionInfo">
                        <p>
                            {{ item.summary }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endfor %}
</body>

</html>