<!DOCTYPE html>
<html>
    <head>
        <title>Professor Course</title>
        <link rel="stylesheet" href="../css/global.css" />
        <link rel="stylesheet" href="../css/professorCourse.css" />
        <script src="../js/myTabs.js" defer></script>
    </head>
    <!---  Header HTML Code --->
    <nav>
        <div>
            <h2>PROFESSOR</h2>
        </div>
            <ul>
                <li>
                    <a href="professorHome.html">
                    <div>HOME</div>
                    </a>
                </li>
                <li>
                    <a href="professorBooks.html">
                    <div>BOOKS</div>
                    </a>
                </li>
                <li>
                    <a href="professorProfile.html">
                    <div>SETTINGS</div>
                    </a>
                </li>
                <li>
                    <a href="index.html">
                    <div>LOGOUT</div>
                    </a>
                </li>
            </ul>
    </nav>
    <body>
        <section>
            <!-- Student Title Section -->
            <div class="infoTitle">
                <div class="leftSide">
                    <!-- Job Image and Job Title on the Left Side -->
                    <img src="../img/sample.jpg" class="Company Logo" />
                    <div class="titles">
                        <h1 style="margin-top: 0;">Course Name {{ course_name }}</h1>
                        <div>
                            <h4 style="margin: 0;">Professor Name {{ professor_name }}</h4>
                            <h4 style="margin: 0;">Course Semester and Year {{ course_semester }} / {{ course_year }}</h4>
                        </div>
                    </div>
                </div>
                <div>
                    <a href='professorAddRemoveBooks.html'>
                        <button type="submit" name="addOrRemove" class="addOrRemove">Add/Remove Books</button>
                    </a> <!-- Applied Button on the Right Side -->
                </div>
            </div>
            <!-- Student Header Section -->
            <div class="infoSections">
                <a data-tab-target="#DESCRIPTION" class="active tab">DESCRIPTION</a>
                <a data-tab-target="#BOOKS" class="tab">BOOKS</a>
            </div>
            <div>
                <div class="content">
                    <!-- Description Information -->
                    <div id="DESCRIPTION" data-tab-content class="active">
                        <div class="descriptionInfo">
                            <h3>Description</h3>
                            <p>
                                Description of the Course!</br>
                            </p>
                        </div>
                    </div>
                    <!-- Books Section -->
                    <div id="BOOKS" data-tab-content>
                        <div class="bookList">
                            <h3>Books</h3>
                            <div class="cardContainer accepted">
                            {% for i in range(len({{ books }})) %}
                                <a class='cardLink generic' href='professorBookProfile.html'>
                                    <div class='card'>
                                        <div class='cardImage'>
                                            <div id = 'information' class = 'middle_part'>
                                                    <img src= '{{ books[i].image }}'alt='Book Cover' />
                                            </div>
                                        </div>
                                        <div class='cardInfo'>
                                            <h1>Book Name {{ books[i].name }}</h1>
                                            <h3>Author Name {{ books[i].author }}</h3>
                                        </div>
                                    </div>
                                </a>
                            {% endfor %}

                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </section>
      </body>
</html>
