<!DOCTYPE html>
<html>
    <head>
        <title>Professor Course</title>
        <link rel="stylesheet" href="../static/css/global.css" />
        <link rel="stylesheet" href="../static/css/professorCourse.css" />
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/simplePagination.js/1.6/jquery.simplePagination.js'></script>
        <script src="../static/js/myTabs.js" defer></script>
        <style>
            h1 {
                font-size: 16px;
            }
            h3 {
                font-size: 16px;
            }
        </style>
    </head>
    <!---  Header HTML Code --->
    <nav>
        <div>
            <h2>PROFESSOR</h2>
        </div>
            <ul>
                <li>
                    <a href="url_for('views.professor_home')">
                    <div>HOME</div>
                    </a>
                </li>
                <li>
                    <a href="url_for('views.professor_books')">
                    <div>BOOKS</div>
                    </a>
                </li>
                <li>
                    <a href="url_for('views.professor_profile')">
                    <div>SETTINGS</div>
                    </a>
                </li>
                <li>
                    <a href="url_for('views.login')">
                    <div>LOGOUT</div>
                    </a>
                </li>
            </ul>
    </nav>
    <br><br>
    <body>
        <section>
            <!-- Student Title Section -->
            <div class="infoTitle">
                <div class="leftSide">
                    <!-- Job Image and Job Title on the Left Side -->
                    <img src="{{ course_image }}" class="Company Logo" />
                    <div class="titles">
                        <h1 style="margin-top: 0;">{{ course_name }}</h1>
                        <div>
                            <h4 style="margin: 0;">{{ professor_name }}</h4>
                            <h4 style="margin: 0;">{{ course_semester }} , {{ course_year }}</h4>
                        </div>
                    </div>
                </div>
                <div>
                    <a href='professorAddRemoveBooks.html'>
                        <button type="submit" name="addOrRemove" class="addOrRemove" href="">Add/Remove Books</button>
                    </a> <!-- Applied Button on the Right Side -->
                </div>
            </div>
            <!-- Student Header Section -->
            <br><br>
            <div class="infoSections">
                <a data-tab-target="#DESCRIPTION" class="active tab">DESCRIPTION</a>
                <a data-tab-target="#BOOKS" class="tab">BOOKS</a>
            </div>
            <div>
                <div class="content">
                    <!-- Description Information -->
                    <div id="DESCRIPTION" data-tab-content class="active">
                        <div class="descriptionInfo">
                            <h3>Description</h3>
                            <p>
                                {{ course_description }}
                            </p>
                        </div>
                    </div>
                    <!-- Books Section -->
                    <div id="BOOKS" data-tab-content>
                        <div class="bookList">
                            <h3>Books</h3>
                             <div class="cardContainer accepted">
                            {% for i in range(books | length) %}
                                <a class='cardLink generic' href='professorBookProfile.html'>
                                    <div class='card'>
                                        <div class='cardImage'>
                                            <div id = 'information' class = 'middle_part'>
                                                    <img src= '{{ books[i].image }}'alt='Book Cover' />
                                            </div>
                                        </div>
                                        <div class='cardInfo'>
                                            <h1>{{ books[i].title }}</h1>
                                            <h3>- {{ books[i].author }} -</h3>
                                        </div>
                                    </div>
                                </a>
                                <br>
                            {% endfor %}
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </section>
      </body>
</html>
