<!DOCTYPE html>
<html>
    <head>
        <title>Professor Add/Remove Books</title>
        <link rel="stylesheet" href="../static/css/global.css" />
        <link rel="stylesheet" href="../static/css/professorAddRemoveBooks.css" />
    </head>
    <!--- Professor Header HTML Code --->
  <nav>
    <div>
        <h2>PROFESSOR</h2>
    </div>
        <ul>
            <li>
                <a href="/professorHome.html">
                <div>HOME</div>
                </a>
            </li>
            <li>
                <a href="/professorBooks.html">
                <div>BOOKS</div>
                </a>
            </li>
            <li>
                <a href="/professorProfile.html">
                <div>SETTINGS</div>
                </a>
            </li>
            <li>
                <a href="/index.html">
                <div>LOGOUT</div>
                </a>
            </li>
        </ul>
</nav>
    <body>
          <section>
            <h2>Course Name's Books</h2>
            <form name="myForm" action="" onsubmit="return validateForm()" method="POST" enctype="multipart/form-data">
            <div class="sectionOne">
                <h4>Add Books</h4>
                <div class="select">
                    <select size="10" type="text" name="addBooks" id="addBooks" multiple>
                        <option selected disabled>Add Books Here</option>
                        {% for item in addBooksList %}
                        <option value="{{item.book_id}}">{{item.title}}</option>
                        {% endfor %}
                    </select>
                </div>

                <h4>Remove Books</h4>
                <div class="select">
                    <select size="10" type="text" name="removeBooks" id="removeBooks" multiple>
                        <option selected disabled>Remove Books Here</option>
                        {% for item in removeBooksList %}
                        <option value="{{item.book_id}}">{{item.title}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="sectionThree">
                <button type="submit" name="submit" class="submit">Submit</button>
            </div>
            </form>
          </section>
      </body>
</html>