<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
	    <link rel="stylesheet" href="../css/global.css" />
	    <link rel="stylesheet" href="../css/searchTemplate.css" />
	    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
	    <script src='https://cdnjs.cloudflare.com/ajax/libs/simplePagination.js/1.6/jquery.simplePagination.js'></script>
        <script src="../js/paginationAndJobSearch.js" defer></script><!-- defer used to run after the page loads -->
    </head>
     <!--- Student Header HTML Code --->
  <nav>
    <div>
        <h2>STUDENT</h2>
    </div>
        <ul>
        <li>
            <a href="studentHome.html">
            <div>HOME</div>
            </a>
        </li>
        <li>
            <a href="studentClasses.html">
            <div>CLASSES</div>
            </a>
        </li>
        <li>
            <a href="studentProfile.html">
            <div>SETTINGS</div>
            </a>
        </li>
        <li>
            <a href="php/session_php/session_destroy.php">
            <div>LOGOUT</div>
            </a>
        </li>
        </ul>
</nav>
    <body>
        <section>
            <!-- Top Rated Page with Search Bar with JavaScript -->
            <h4>Top Rated</h4>
            <!-- refereshPage() the mySearch function runs based on the specific events-->
            <input type="search" id="generic" name="search" onsearch="mySearchGeneric()" onblur="refreshPageGeneric()" placeholder="Search Classes" />
        </section>
        <section>
            <div class = "layoutCriteria">
                <form class = "searchCriteria">
                    <div class="sectionChoice">
                        <div class ="sectionTitle">Grade</div>
                        <div class="choices">
                            <div class="select">
                                <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                                <label for="vehicle1">Freshmen</label>
                            </div>
                            <div class="select">
                                <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
                                <label for="vehicle2"> I have a car</label>
                            </div>
                            <div class="select">
                                <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                                <label for="vehicle3"> I have a boat</label>
                            </div>
                        </div>
                    </div>
                    
                    <div class="sectionChoice">
                        <div class ="sectionTitle">Grade</div>
                        <div class="choices">
                            <div class="select">
                                <input type="checkbox" id="vehicle4" name="vehicle1" value="Bike">
                                <label for="vehicle4"> I have a bike</label>
                            </div>
                            <div class="select">
                                <input type="checkbox" id="vehicle5" name="vehicle2" value="Car">
                                <label for="vehicle5"> I have a car</label>
                            </div>
                            <div class="select">
                                <input type="checkbox" id="vehicle6" name="vehicle3" value="Boat">
                                <label for="vehicle6"> I have a boat</label>
                            </div>
                        </div>
                    </div>
                    
                    <div class = "criteriaButton">
                        <button type="submit" form="searchCriteria" name="submit">Submit</button>
                    </div>
                </form>
                <div class='cardContainer generic'>
                        <a class='cardLink generic' href=''>
                            <div class='card'>
                                <div class='cardInfo'>
                                    <h1>Professor Names</h1>
                                    <h3>Class Name</h3>                         
                                    <h4>Semester</h4>
                                </div>
                            </div>
                        </a>

                        <a class='cardLink generic' href=''>
                            <div class='card'>
                                <div class='cardInfo'>
                                    <h1>Professor Names</h1>
                                    <h3>Class Name</h3>                         
                                    <h4>Semester</h4>
                                </div>
                            </div>
                        </a>

                        <a class='cardLink generic' href=''>
                            <div class='card'>
                                <div class='cardInfo'>
                                    <h1>Professor Names</h1>
                                    <h3>Class Name</h3>                         
                                    <h4>Semester</h4>
                                </div>
                            </div>
                        </a>

                        <a class='cardLink generic' href=''>
                            <div class='card'>
                                <div class='cardInfo'>
                                    <h1>Professor Names</h1>
                                    <h3>Class Name</h3>                         
                                    <h4>Semester</h4>
                                </div>
                            </div>
                        </a>

                        <a class='cardLink generic' href=''>
                            <div class='card'>
                                <div class='cardInfo'>
                                    <h1>Professor Names</h1>
                                    <h3>Class Name</h3>                         
                                    <h4>Semester</h4>
                                </div>
                            </div>
                        </a>
                </div>
            </div>
        </section>
        <!-- Shows the Page Numbers -->
	    <div id="pagination-container-generic" class = 'bottom_Section'></div> 
    </body>
</html>