<!DOCTYPE html>
<html>
    <head>
        <title>Professor Profile</title>
        <link rel="stylesheet" href="../css/global.css" />
        <link rel="stylesheet" href="../css/studentProfessorProfile.css" />
        <script src="../js/myTabs.js" defer></script>
    </head>
    <!--- Header HTML Code --->
    <nav>
        <div>
            <h2>STUDENT</h2>
        </div>
        <ul>
            <li>
                <a href="/studentHome.html">
                <div>HOME</div>
                </a>
            </li>
            <li>
                <a href="/studentBookmarks.html">
                <div>BOOKMARKS</div>
                </a>
            </li>
            <li>
                <a href="/studentProfessors.html">
                <div>PROFESSORS</div>
                </a>
            </li>
            <li>
                <a href="/studentProfile.html">
                <div>SETTINGS</div>
                </a>
            </li>
            <li>
                <a href="/index.html">
                <div>LOGOUT</div>
                </a>
            </li>
        </ul>
    </nav>
    <body>
        <section>
            <!-- Title Section -->
            <div class="Title">
                <div class="leftSide">
                    <!-- Image and Title on the Left Side -->
                    <img src="../img/sample.jpg" class="Book Logo" />
                    <div class="titles">
                        <h1 style="margin-top: 0;">PROFESSOR NAME HERE</h1>
                        <div>
                            <h4 style="margin: 0;">PROFESSOR EMAIL HERE</h4>
                        </div>
                    </div>
                </div>
                
            </div>
            <!-- Header Section -->
            <div class="Sections">
                <a data-tab-target="#BIOGRAPHY" class="active tab">BIOGRAPHY</a>
            </div>
            <div>
                <div class="content">
                    <!-- BIOGRAPHY -->
                    <div id="BIOGRAPHY" data-tab-content class="active">
                        <div class="descriptionInfo">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Pellentesque bibendum, magna id sagittis commodo, erat leo consequat nisl,
                                sit amet lobortis est dolor vitae lectus. Donec posuere mi eu odio fringilla tincidunt. 
                                Sed sollicitudin odio id tristique faucibus. Aenean quis dolor vulputate, imperdiet purus eget, ornare metus. 
                                Curabitur iaculis nisi urna, nec consequat dui volutpat in. Pellentesque eget erat turpis. Suspendisse sodales 
                                diam eu nisi tempus, eget lobortis lorem bibendum. Cras sed blandit lectus. Donec ut tincidunt mi, et dignissim magna.
                            </p>
                        </div>
                    </div>  
                </div>
            </div>
        </section>
      </body>
</html>