<!DOCTYPE html>
<html>
    <head>
        <title>Professor Profile</title>
        <link rel="stylesheet" href="../static/css/global.css" />
        <link rel="stylesheet" href="../static/css/studentProfessorProfile.css" />
        <script src="../static/js/myTabs.js" defer></script>
    </head>
    <!--- Header HTML Code --->
    <nav>
        <div>
            <h2>STUDENT</h2>
        </div>
        <ul>
            <li>
                <a href="/studentHome.html">
                <div>HOME</div>
                </a>
            </li>
            <li>
                <a href="/studentBookmarks.html">
                <div>BOOKMARKS</div>
                </a>
            </li>
            <li>
                <a href="/studentProfessors.html">
                <div>PROFESSORS</div>
                </a>
            </li>
            <li>
                <a href="/studentProfile.html">
                <div>SETTINGS</div>
                </a>
            </li>
            <li>
                <a href="/index.html">
                <div>LOGOUT</div>
                </a>
            </li>
        </ul>
    </nav>
    <body>
        <section>
            <!-- Title Section -->
            <div class="Title">
                <div class="leftSide">
                    <!-- Image and Title on the Left Side -->
                    <img src="data:{{ Data[0].image.mimetype }};base64,{{ Data[0].image.image.decode() }}" class="Prof Logo" />
                    <div class="titles">
                        <h1 style="margin-top: 0;">{{Data[0].first_name + ' ' + Data[0].last_name}}</h1>
                        <div>
                            <h4 style="margin: 0;">{{Data[0].email}}</h4>
                        </div>
                    </div>
                </div>
                
            </div>
            <!-- Header Section -->
            <div class="Sections">
                <a data-tab-target="#BIOGRAPHY" class="active tab">BIOGRAPHY</a>
            </div>
            <div>
                <div class="content">
                    <!-- BIOGRAPHY -->
                    <div id="BIOGRAPHY" data-tab-content class="active">
                        <div class="descriptionInfo">
                            <p>
                                {{Data[0].biography}}
                            </p>
                        </div>
                    </div>  
                </div>
            </div>
        </section>
      </body>
</html>