<!DOCTYPE html>
<html>
    <head>
        <title>Student Profile</title>
        <link rel="stylesheet" href="../static/css/global.css" />
        <link rel="stylesheet" href="../static/css/studentProfile.css" />
    </head>
    <!--- Student Header HTML Code --->
  <nav>
    <div>
        <h2>STUDENT</h2>
    </div>
    <ul>
        <li>
            <a href="/studentHome.html/{{ id }}">
            <div>HOME</div>
            </a>
        </li>
        <li>
            <a href="/studentBookmarks.html/{{ id }}">
            <div>BOOKMARKS</div>
            </a>
        </li>
        <li>
            <a href="/studentProfessors.html/{{ id }}">
            <div>PROFESSORS</div>
            </a>
        </li>
        <li>
            <a href="/studentProfile.html/{{ id }}">
            <div>SETTINGS</div>
            </a>
        </li>
        <li>
            <a href="/index.html">
            <div>LOGOUT</div>
            </a>
        </li>
    </ul>
</nav>
    <body>
          <section>
            <h2>Profile</h2>
            <form name="myForm" action="" onsubmit="return validateForm()" method="POST" enctype="multipart/form-data">
            <div class="sectionOne">
                <!-- File Upload -->
                <input type="file" name="fileToUpload" id="fileToUpload" required/>
                <input id="first_name" type="text" name="firstname" placeholder="First Name" value="{{studentData.first_name}}" />
                <input id="last_name" type="text" name="lastname" placeholder="Last Name" value="{{studentData.last_name}}" />
                <!-- Major -->
                <div class="select">
                    <select type="text" name="major" id="major">
                    <option selected disabled>Major</option>
                    <option selected value="Computer Science">Computer Science</option>
                    </select>
                </div>
                <!-- Major End -->
                <input id="email" type="text" name="email" placeholder="Email" value="{{studentData.email}}" />
                <div class="select">
                    <select type="text" name="gradeyear" id="gradeYearslct">
                      <option selected disabled>Grade Year</option>
                      <option value="1">Freshmen</option>
                      <option value="2">Sophomore</option>
                      <option value="3">Junior</option>
                      <option value="4">Senior</option>
                    </select>
                </div> 
            </div>
            <div class="sectionThree">
                <button type="submit" name="submit" class="submit">Submit</button>
              </div>
            </form>
          </section>
      </body>
</html>