<!DOCTYPE html>
<html>
    <head>
        <title>Student Bookmarks</title>
	    <link rel="stylesheet" href="../static/css/global.css" />
	    <link rel="stylesheet" href="../static/css/studentBookmarks.css" />
	    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    </head>
     <!--- Student Header HTML Code --->
  <nav>
    <div>
        <h2>STUDENT</h2>
    </div>
    <ul>
        <li>
            <a href="/studentHome.html">
            <div>HOME</div>
            </a>
        </li>
        <li>
            <a href="/studentBookmarks.html">
            <div>BOOKMARKS</div>
            </a>
        </li>
        <li>
            <a href="/studentProfessors.html">
            <div>PROFESSORS</div>
            </a>
        </li>
        <li>
            <a href="/studentProfile.html">
            <div>SETTINGS</div>
            </a>
        </li>
        <li>
            <a href="/index.html">
            <div>LOGOUT</div>
            </a>
        </li>
    </ul>
</nav>
    <body>
        <section>
            <!-- Saved Classes Bar with JavaScript -->
            <h4>Bookmarks</h4>
        </section>
        <section>
            <div class='cardContainer generic'>
                {% for item in Data %}
                <a class='cardLink generic' href='/studentClassesPage.html/{{item.course_id}}'>
                    <div class='card'>
                        <div class='cardInfo'>
                            <h1>{{item.course_name}}</h1>
                            <h3>{{item.prof_name}}</h3>                         
                            <h4>{{item.course_semester + ' ' + item.course_year}}</h4>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </section>
        <!-- Shows the Page Numbers -->
	    <div id="pagination-container-generic" class = 'bottom_Section'></div> 
    </body>
</html>