<!DOCTYPE html>
<html>
    <head>
        <title>Find Professors</title>
	    <link rel="stylesheet" href="../static/css/global.css" />
	    <link rel="stylesheet" href="../static/css/studentProfessors.css" />
	    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
	    <script src='https://cdnjs.cloudflare.com/ajax/libs/simplePagination.js/1.6/jquery.simplePagination.js'></script>
        <script src="../js/paginationAndJobSearch.js" defer></script><!-- defer used to run after the page loads -->
    </head>
     <!---  Header HTML Code --->
     <nav>
        <div>
            <h2>STUDENT</h2>
        </div>
        <ul>
            <li>
                <a href="/studentHome.html/{{ id }}">
                <div>HOME</div>
                </a>
            </li>
            <li>
                <a href="/studentBookmarks.html/{{ id }}">
                <div>BOOKMARKS</div>
                </a>
            </li>
            <li>
                <a href="/studentProfessors.html/{{ id }}">
                <div>PROFESSORS</div>
                </a>
            </li>
            <li>
                <a href="/studentProfile.html/{{ id }}">
                <div>SETTINGS</div>
                </a>
            </li>
            <li>
                <a href="/index.html">
                <div>LOGOUT</div>
                </a>
            </li>
        </ul>
    </nav>
    <body>
        <section>
            <!-- Top Rated Page with Search Bar with JavaScript -->
            <h4>Professors</h4>
            <!-- refereshPage() the mySearch function runs based on the specific events-->
            <input type="search" id="generic" name="search" onsearch="mySearchGeneric()" onblur="refreshPageGeneric()" placeholder="Search Professors" />
        </section>
        <section>
            <div class = "layoutCriteria">
                <form class = "searchCriteria">

                    <div class="sectionChoice">
                        <div class ="sectionTitle">Genre</div>
                        <select type="text" name="genre" id="genre">
                            <option selected disabled>Genre</option>
                            <option value="Fantasy">Fantasy</option>
                            <option value="Science">Science</option>
                            <option value="Dystopian">Dystopian</option>
                            <option value="Adventure">Adventure</option>
                            <option value="Romance">Romance</option>
                            <option value="Mystery">Mystery</option>
                            <option value="Horror">Horror</option>
                            <option value="Thriller">Thriller</option>
                            <option value="Humor">Humor</option>
                            <option value="Classic">Classic</option>
                            <option value="Non-Fiction">Non-Fiction</option>
                            <option value="Biography">Biography</option>
                            <option value="Autobiography">Autobiography</option>
                        </select>
                    </div>

                    <div class="sectionChoice">
                        <div class ="sectionTitle">Semester</div>
                        <div class="choices">
                            <div class="select">
                                <input type="checkbox" id="Fall" name="Fall" value="Fall">
                                <label for="Fall">Fall</label>
                            </div>
                            <div class="select">
                                <input type="checkbox" id="Spring" name="Spring" value="Spring">
                                <label for="Spring">Spring</label>
                            </div>
                            <div class="select">
                                <input type="checkbox" id="Winter" name="Winter" value="Winter">
                                <label for="Winter">Winter</label>
                            </div>
                        </div>
                    </div>

                    
                    
                    <div class = "criteriaButton">
                        <button type="submit" form="searchCriteria" name="submit">Submit</button>
                    </div>
                </form>
                
                <div class='cardContainer generic'>
                    
                    <a class='cardLink generic' href='studentProfessorProfile.html'>
                        <div class='card'>
                            <div class='cardImage'>
                                <div id = 'information' class = 'middle_part'>
                                        <img src= '../img/sample.jpg' alt='Professor' />
                                </div>
                            </div>
                            <div class='cardInfo'>
                                <h1>Professors Name</h1>
                            </div>
                        </div>
                    </a>

                    <a class='cardLink generic' href='studentProfessorProfile.html'>
                        <div class='card'>
                            <div class='cardImage'>
                                <div id = 'information' class = 'middle_part'>
                                        <img src= '../img/sample.jpg' alt='Professor' />
                                </div>
                            </div>
                            <div class='cardInfo'>
                                <h1>Professors Name</h1>
                            </div>
                        </div>
                    </a>

                    <a class='cardLink generic' href='studentProfessorProfile.html'>
                        <div class='card'>
                            <div class='cardImage'>
                                <div id = 'information' class = 'middle_part'>
                                        <img src= '../img/sample.jpg' alt='Professor' />
                                </div>
                            </div>
                            <div class='cardInfo'>
                                <h1>Professors Name</h1>
                            </div>
                        </div>
                    </a>

                    <a class='cardLink generic' href='studentProfessorProfile.html'>
                        <div class='card'>
                            <div class='cardImage'>
                                <div id = 'information' class = 'middle_part'>
                                        <img src= '../img/sample.jpg' alt='Professor' />
                                </div>
                            </div>
                            <div class='cardInfo'>
                                <h1>Professors Name</h1>
                            </div>
                        </div>
                    </a>
                    
                </div>
            </div>
        </section>
        <!-- Shows the Page Numbers -->
	    <div id="pagination-container-generic" class = 'bottom_Section'></div> 
    </body>
</html>